html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: black;
  font-weight: 700;
  display: inline-block;
  transition: all 200ms ease;
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:hover {
  border-bottom-color: transparent;
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

@media (max-width: 640px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.container-yt {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.iframe-yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.notion-viewport {
  z-index: -100;
}

.notion-header {
  display: none;
}

.notion-container {
  max-width: 100vw;
}

.notion-full-page {
  padding-bottom: 0 !important;
}
